samples/application-webapp/src/main/resources/wsdl/RegisterApplication.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://www.aperteworkflow.org/RegisterApplication/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegisterApplication" targetNamespace="http://www.aperteworkflow.org/RegisterApplication/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aperteworkflow.org/RegisterApplication/">
      <xsd:element name="RegisterApplication">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="name" type="xsd:string"></xsd:element>
          	<xsd:element name="surname" type="xsd:string"></xsd:element>
          	<xsd:element name="description" type="xsd:string"></xsd:element>
          	<xsd:element name="attachmentBase64" type="xsd:string"></xsd:element>
          	<xsd:element name="attachmentName" type="xsd:string"></xsd:element>
          	<xsd:element name="attachmentMimeType" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegisterApplicationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterApplicationRequest">
    <wsdl:part element="RegisterApplication" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RegisterApplicationResponse">
    <wsdl:part element="RegisterApplicationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RegisterApplication">
    <wsdl:operation name="RegisterApplication">
      <wsdl:input message="RegisterApplicationRequest"/>
      <wsdl:output message="RegisterApplicationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterApplicationSOAP" type="RegisterApplication">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegisterApplication">
      <soap:operation soapAction="http://www.aperteworkflow.org/RegisterApplication/RegisterApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterApplication">
    <wsdl:port binding="RegisterApplicationSOAP" name="RegisterApplicationSOAP">
      <soap:address location="http://www.aperteworkflow.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
