samples/application-ws-schema/src/main/resources/org/aperteworkflow/samples/service/RegisterApplication.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aperteworkflow.org/samples/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="application" targetNamespace="http://www.aperteworkflow.org/samples/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aperteworkflow.org/samples/">
      <xsd:complexType name="RegisterApplicationRequestType">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="surname" type="xsd:string"></xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
			<xsd:element name="attachmentBase64" type="xsd:string"></xsd:element>
      		<xsd:element name="attachmentName" type="xsd:string"></xsd:element>
      		<xsd:element name="attachmentMimeType" type="xsd:string"></xsd:element>

      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegisterApplicationResponseType">
      	<xsd:sequence>
      		<xsd:element name="processId" type="xsd:string"></xsd:element>
      		<xsd:element name="status" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterApplicationRequest">
    <wsdl:part name="name" type="tns:RegisterApplicationRequestType"/>



  </wsdl:message>
  <wsdl:message name="RegisterApplicationResponse">



        <wsdl:part name="NewPart" type="tns:RegisterApplicationResponseType"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="RegisterApplicationService">
    <wsdl:operation name="RegisterApplication">
      <wsdl:input message="tns:RegisterApplicationRequest"/>
      <wsdl:output message="tns:RegisterApplicationResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="incidentSOAP" type="tns:RegisterApplicationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegisterApplication">
      <soap:operation soapAction="http://www.aperteworkflow.org/incident/RegisterApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterApplicationService">
    <wsdl:port binding="tns:incidentSOAP" name="incidentSOAP">
      <soap:address location="http://www.aperteworkflow.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
